*{
    padding: 0;
}
body{
    color: wheat;
    background-color: steelblue;
}

/*---------------------Menu----------------------*/
#menu{
    margin: 0 auto;
    text-align: center;
}
#menu ul li{
    margin: 10px;
    display: inline-block;
}
#menu ul li a{
    color: wheat;
    text-decoration: none;
}
/*---------------Presentacion--------------------*/
#presentacion{
    text-align: center;
}

/*-------------------Pie-------------------------*/
footer{
    margin: 10px;
    text-align: center;
}