*{
    padding: 0;
    margin: 0;
}
body{
    color: wheat;
    background-color: steelblue;
}
/*--------------------------------------------------------------------------------------------------------------------*/
canvas{
    width: 100%;
    position: absolute;
    z-index: -1;
}

/*--------------------------------------------------------------------------------------------------------------------*/
#menu{
    margin: 0 auto;
    text-align: center;
}
#menu ul li{
    margin: 10px;
    display: inline-block;
}
#menu ul li a{
    color: wheat;
    text-decoration: none;
}
/*--------------------------------------------------------------------------------------------------------------------*/
#presentacion{
    text-align: center;
}
#presentacion h1{
    color: wheat;
    font-size: 30px;
    margin: 10px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
footer{
    margin: 10px;
    text-align: center;
}