<!DOCTYPE html>
<html lang="es">
<head>
    <title>ESM</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <canvas id="canvas"></canvas>
    <var class="main-container">
        <var id="menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </var>

        <var id="presentacion">
            <h1>Hi!, I'm Ezequiel S.M.</h1>
            <h3>Frontend and Game Developer</h3>
            <p>
                I'm a university student <br>
                with dedication and passion for video games <br>
            </p>
        </var>

        <var id="contenido">
            <var id="proyectos">
                
            </var>

            <var id="contacto">

            </var>
        </var>

        <footer> Derechos Reservados 2022®</footer>

    </var>
</body>
<script src="static/js/canvasFondo.js"></script>
</html>