<!DOCTYPE html>
<html lang="es">
<head>
    <title>ESM</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <canvas id="canvasMatrix"></canvas>
    <var class="main-container">
        <var id="menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </var>

        <var id="contenido">
            <var class="text">
                <h1>Hola!, Soy Ezequiel S.M.</h1>
                <h3>Web and Game Developer</h3>
            </var>

            <var id="descripcionpersonal">
                <p>
                    Soy un estudiante Universitario con dedicacion y aprecio por el desarrollo de videojuegos.
                </p>
            </var>
        </var>

        <var id="proyectos">
            <var class="text">
                <h2>Proyectos realizados</h2>
            </var>
            <var class="proyecto1">
                <p>Primer Proyecto</p>
                <p> We get it on most every night<br>
                    When that moon is big and bright<br>
                    Its a supernatural delight<br>
                    Everybodys dancing in the moonlight<br>
                    We get<br>
                    Everybody here is out of sight<br>
                    They dont bark and they dont bite<br>
                    They keep things loose they keep it tight<br>
                    Everybodys dancing in the moonlight<br>
                    Dancing in the moonlight<br>
                    Everybodys feeling warm and bright<br>
                    Its such a fine and natural sight<br>
                    Everybodys dancing in the moonlight<br>
                    We like our fun and we never fight<br>
                    You cant dance and stay uptight<br>
                    Its a supernatural delight<br>
                    Everybody was dancing in the moonlight<br>
                    Dancing in the moonlight<br>
                    Everybodys feeling warm and bright<br>
                    Its such a fine and natural sight<br>
                    Everybodys dancing in the moonlight<br>
                    We get in on most every night<br>
                    And when that moon is big and bright<br>
                    Its a supernatural delight<br>
                    Everybodys dancing in the moonlight<br>
                    Dancing in the moonlight<br>
                    Everybodys feeling warm and bright<br>
                    Its such a fine and natural sight<br>
                    Everybodys dancing in the moonlight...
                </p>
            </var>
        </var>

        <var id="contacto">
            <var class="image">
                <a href="https://twitter.com/Zeky2001">
                    <img src="static/img/twittericon.png" alt="iconotwitter" width="80">
                </a>
                <a href="https://github.com/EzequielSegura">
                    <img src="static/img/github.png" alt="iconogithub" width="60">
                </a>
            </var>
        </var>

        <footer> Derechos Reservados 2022®</footer>

    </var>
</body>
<script src="static/js/matrix.js"></script>
</html>