<!DOCTYPE html>
<html lang="es">
<head>
    <title>Proyecto1</title>
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <style>
        body div{
            display: inline-block;
            vertical-align: middle;
        }
        form{
            padding-left: 30px;
        }
        #datos{
            width: 49%;
        }
        #datos p{
            padding-left: 30px;
        }
        #map { 
          width: 50%;
          height: 400px;
          box-shadow: 5px 5px 5px #888;
       }
      </style>
</head>
<body>
    <form action="/Proyecto1" method="post">
        <input type="text" name="nc">
        <input type="submit" value="Enviar">
    </form>
    <div id="datos">
        <p>Direccion: {{dataTime.direccion}}</p>
        <p>latitud: {{data.coord.lat}}</p>
        <p>Longitud: {{data.coord.lon}}</p> 
        <p>Temperatura: {{data.main.temp}}</p> 
        <p>Sensacion Termica: {{data.main.feels_like}}</p>
        <p>Temperatura Minima: {{data.main.temp_min}}</p>
        <p>Temperatura Maxima: {{data.main.temp_max}}</p>
        <p>Presion: {{data.main.pressure}}</p>
        <p>Humedad: {{data.main.humidity}}</p>
        <p>Visibilidad: {{data.visibility}}</p>
        <p>Velocidad Del Viento: {{data.wind.speed}}</p>
        <p>Direccion Del Viento: {{data.wind.deg}}</p>
        <p>Abundancia De Nubes: {{data.clouds.all}} %</p>
        <p>Fecha y Hora De Obtencion De Datos: {{dataTime.horaActual}}</p>
        <p>Hora De Amanecer: {{dataTime.amanecer}}</p>
        <p>Hora De Atardecer: {{dataTime.atardecer}}</p>
        <p>Codigo De Pais: {{data.sys.country}}</p>
        <p>Poblacion: {{data.name}}</p>
        <p>Codigo Postal: {{data.id}}</p>
    </div>
    <div id ='map'></div>
    <script>
        var map = L.map('map').setView(['{{data.coord.lat}}', '{{data.coord.lon}}'],15);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
            maxZoom: 18
            }).addTo(map);
        L.control.scale().addTo(map);
        L.marker(['{{data.coord.lat}}', '{{data.coord.lon}}'],{draggable: true}).addTo(map);
    </script>
</body>
</html>